.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  width: 100%;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  boder:1px solid black;
  height: 190px;
}

.embla__slide__div {
  position: absolute;
  display: flex;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 10px;
}

.embla_image{
    width:180px;
    height:180px;
}

.embla_image.one{
    transform:translateX(30px);
}

.embla_image.two{
    transform:translateX(-30px);
}

.embla_image.is-selected{
    position:relative;
    border:10px solid white;
    width:300px;
    height:270px;
    border-radius:50%;
    z-index:10;

}


.embla__dot {
  background-color: #FD4C5C;
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius:50%;
}


.embla__dot.is-selected {
  background-color: #fff;
  border:4px solid #FD4C5C;
  width: 18px;
  height: 18px;
  border-radius:50%;
}
